body{

font-family:Arial,sans-serif;

background:linear-gradient(to right,#dbeafe,#eff6ff);

margin:0;

padding:20px;

}

.container{

width:800px;

margin:auto;

background:white;

padding:25px;

border-radius:10px;

box-shadow:0px 0px 15px gray;

}

h2{
  font-size: 28px;

text-align:center;

color:#0d47a1;

}

h3{

color:#1565c0;

}

label{

display:block;

margin-top:12px;

font-weight:bold;

}

input[type=text],
input[type=date],
input[type=number],
input[type=file]{

width:100%;

padding:10px;

margin-top:5px;

border:1px solid #90caf9;

border-radius:5px;

box-sizing:border-box;

}

table{

width:100%;

border-collapse:collapse;

margin-top:15px;

}

table,th,td{

border:1px solid gray;

}

th{

background:#1976d2;

color:white;

padding:10px;

}

td{

padding:8px;

}

.buttons{

text-align:center;

margin-top:20px;

}

.buttons input{

padding:10px 25px;

margin:10px;

background:#1565c0;

color:white;

border:none;

border-radius:5px;

font-size:16px;

cursor:pointer;

}

.buttons input:hover{

background:#0d47a1;

}

#result{

margin-top:25px;

padding:20px;

background:#e8f5e9;

border:2px solid green;

border-radius:8px;

display:none;

}

#result h2{

color:green;

text-align:center;

}
